@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: 8em;
  }
  
.centered-text {
    text-align: center;
  }